name: Test

on:
  workflow_call:
    inputs:
      upload-coveralls:
        description: 'Upload coverage to Coveralls'
        required: false
        default: false
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Poetry
      run: pip install poetry==2.0.1
    - name: Set up Python {{ cookiecutter.python_version }}
      uses: actions/setup-python@v6
      with:
        python-version: "{{ cookiecutter.python_version }}"
        cache: 'poetry'
    - name: Install dependencies
      run: poetry install
    - name: Run tests with coverage
      run: make coverage
    - name: Coveralls
      if: {% raw %}${{ inputs.upload-coveralls }}{% endraw %}
      uses: coverallsapp/github-action@v2
      with:
        path-to-lcov: "./coverage.lcov"
        github-token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
