**/__pycache__
data.json
config.yml

# coverage based artifacts
htmlcov
.coverage
coverage.lcov

# build specific artifacts
dist

# Virtual environments
venv
.venv

# IDE-specific directories
.vscode
.idea
*~
